@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-display: swap;
    font-family: "Inter var";
    font-named-instance: "Regular";
    font-style: normal;
    font-weight: 100 900;
    src: url("/fonts/Inter-roman.var.woff2?v=3.19") format("woff2");
  }

  @font-face {
    font-display: swap;
    font-family: "Inter var";
    font-named-instance: "Italic";
    font-style: italic;
    font-weight: 100 900;
    src: url("/fonts/Inter-italic.var.woff2?v=3.19") format("woff2");
  }

  html {
    @apply antialiased h-full;
  }

  body {
    @apply flex flex-col h-full bg-neutral-50;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='4' height='4' viewBox='0 0 4 4'%3E%3Cpath fill='%23d4d4d4' fill-opacity='0.4' d='M1 3h1v1H1V3zm2-2h1v1H3V1z'%3E%3C/path%3E%3C/svg%3E");
  }
}
